<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ojph_compress.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ojph_expand.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9826E19C2314D26F0004C8DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9826E1D12314D3320004C8DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9842806C2248A4C900A6ADA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986A5666232E384E000C54DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
